* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background: linear-gradient(#4b236f, #22053d);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3.5rem 1.5rem 0 1.5rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/pessoas.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-height: 100vh;
}

#logo {
    align-items: start;
    min-inline-size: 100vw;
    padding: 0 1.25rem;
}

#logo-ebac {
    max-height: 58px;
    max-width: 161px;
}

.caixa-login {
    padding: 3rem 2rem;
}

h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 32px;
}

form {
    color: #10001f;
    font-size: 1rem;
    background: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    overflow: hidden;
    padding: 2.5rem 2.5rem 2rem;
    width: 100%;
}

form a {
    color: #7B2CBF;
    text-decoration: none;
}

input {
    font-size: 1rem;
    color: #3c3a3a;
    border: 1px solid #ccc;
    border-radius: 8px;
    height: 3rem;
    margin-bottom: 1.5rem;
    outline: none;
    padding: 1rem;
}

#checkbox-lembrar {
    accent-color: #7B2CBF;
    margin: 0;
    position: relative;
    top: 0;
}

#label-lembrar {
    display: flex;
    align-items: center;
    gap: 5px;
}

.linha-opcoes,
.area-ajuda {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 1.5rem;
}

.botao-entrar {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    height: 3.5rem;
    border-radius: 28px;
    border: none;
    background-color: #ff7900;
    margin-bottom: 2rem;
}
